body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
label,
dl,
dt,
dd,
fieldset,
img {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    min-width: 1200px;
}
#wrapper{
    font-family:"Microsoft YaHei",Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,”Hiragino Sans GB”,Simsun,sans-self;
    overflow: hidden;
}
#header{
    height: 70px;
    margin: 20px;
}
.logo{
    float: left;
}
h1{
    margin-left: 110px;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 70px;
    color: #235F84;
}
#nav{
    width: 100%;
    line-height: 45px;
    display: inline-block;
    background-color: #235F84;
}
#nav ul{
    padding-left: 620px;
    width: 1200px;
    background: linear-gradient(130deg, #fff 50%, #235F84 50%);
    margin-left: -100px;
}
#nav li{
    display: inline-block;
    font-size: 22px;
    font-weight: 300px;
    width: 120px;
    text-align: center;
    padding-right: 16px;
    cursor: pointer;
}
#nav a{
    text-decoration: none;
    color: #fff;
}
#nav li:first-child{
    width: 80px;
}
#slider{
    height: 508px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.slider ul {
     margin: 0;
     padding: 0;
}
.prev,.next{
    position: relative;
    top: 360px;
}
#content{
    position: relative;
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}
#content h2{
    display: inline-block;
    width: 100%;
    line-height: 50px;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 2px;
    padding-left: 12px;
    color: #fff;
    background-color: #235F84;
}
.more{
    display: inline-block;
    color: #fff;
    position: relative;
    font-size: 18px;
    bottom: 36px;
}
.more a{
    color: #fff;
    text-decoration: none;
}
.news{
    display: inline-block;
    margin-top: 30px;
    width: 370px;
    height: 350px;
    background-color: #eee;
    overflow: hidden;
}
.news .more{
    left: 270px;
}
.news li{
    width: 100%;
    padding: 0 40px 6px 20px;
}
.post-title{
    display: inline-block;
    color: #235F84;
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}
.post-title a{
    text-decoration: none;
    color: #235F84;
}
.post-time{
    display: inline-block;
    color: #000;
    float: right;
}
.info{
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    width: 780px;
    position: relative;
    bottom: 300px;
    background-color: #fff;
    border: solid 1px #235F84;
    overflow: hidden;
}
.info-nav{
    display: inline-block;
    line-height: 50px;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 2px;
    padding-left: 12px;
    color: #235F84;
}
.info-title{
    display: inline-block;
    position: relative;
    top:4px;
    color: #235F84;
    margin-left: 30px;
    font-size: 20px;
    line-height: 24px;
    width: 340px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}
.info-title a{
    color: #235F84;
    text-decoration: none;
}
.info-time{
    display: inline-block;
    color: #235F84;
    margin-left: 36px;
}
.info .more{
    color: #235F84;
    bottom: 0;
    margin-left: 60px;
}
.info .more a{
    color: #235F84;
    text-decoration: none;
}
.show{
    position: relative;
    bottom: 280px;
    display: inline-block;
    margin-left: 405px;
    width: 780px;
    height: 276px;
    background-color: #eee;
    overflow: hidden;
}
.show .more{
    left: 670px;
}
.show-content{
    margin-top: -20px;
}
.show-box{
    display: inline-block;
    width: 220px;
    margin: 30px 18px;
}
.show-box a{
    color: #235F84;
    text-decoration: none;
}
.show-box img{
    width: 220px;
    height: 120px;
}
.show-box p{
    padding-top: 14px;
    font-size: 20px;
    text-align: center;
}
.lesson{
    position: relative;
    bottom: 240px;
    display: inline-block;
    width: 540px;
    height: 320px;
    background-color: #eee;
    overflow: hidden;
}
.lesson .post-title{
    width: 340px;
}
.lesson .more{
    left: 440px;
}
.lesson li{
    width: 100%;
    padding: 0 40px 6px 20px;
}
.download{
    position: relative;
    bottom: 240px;
    display: inline-block;
    margin-left: 50px;
    width: 590px;
    height: 320px;
    background-color: #eee;
    overflow: hidden;
}
.download .more{
    left: 480px;
}
.download li{
    padding: 0 40px 20px 40px;
}

.download .post-title{
    position: relative;
    top: 3px;
}
.download .post-time{
    float: none;
    margin-left: 60px;
}
.btn-download{
    display: inline-block;
    margin-left: 70px;
    width: 100px;
    line-height: 26px;
    text-align: center;
    border: solid 1px #235F84;
    border-radius: 5px;
}
.btn-download a{
    text-decoration: none;
    color: #000;
}
#footer{
    height: 60px;
    background-color: #E3E3C7;
}
#footer p{
    line-height: 30px;
    text-align: center;
}
